/*
$red: #E67E80;
$blue: #7FBBB3;
$green: #A7C080;
$yellow: #DBBC7F;
$purple: #D699B6;

$text: #D3C6AA;
$subtext: #9DA9A0;

$mantle: #1E2326;
$base: #272E33;
$surface: #374145;
$overlay: #7A8478;

$primary: $green;
$secondary: $purple;

  */
$red: #f38ba8;
$blue: #89b4fa;
$green: #a6e3a1;
$yellow: #f9e2af;
$purple: #cba6f7;

$text: #cdd6f4;
$subtext: #bac2de;

$mantle: #181825;
$base: #1e1e2e;
$surface: #313244;
$overlay: #6c7086;


$primary: $blue;
$secondary: $purple;
