$arch: #1793D1;

$primary: #89b4fa;
$secondary: #cba6f7;

$error: #f38ba8;
$warning: #f9e2af;
$success: #a6e3a1;

$text: #cdd6f4;
$subtext: #bac2de;

$mantle: #181825;
$base: #1e1e2e;
$surface: #313244;
$overlay: #6c7086;
